#main {
    -webkit-column-width: 267px;
    -moz-column-width:267px;
    -ms-column-width:267px;
  /*  -webkit-column-count: 5;
    -moz-column-count:5;
    -ms-column-count:5;*/
}

.box {
    padding: 10px 0 0 15px;
}

.pic {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    width: 230px;
}

.pic img {
    display: block;
    width: 230px;
    height: auto;
}