<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <form action="">
        姓：<input type="text" ng-model="user.firstName"><br />
        名：<input type="text" ng-model="user.lastName"><br />
        <button ng-click="reset()">RESET</button>
    </form>
    <p>form:{{user}}</p>
    <p>master:{{master}}</p>
</div>
<script>
    angular.module("myApp", []).controller("myCtrl", function ($scope) {
        $scope.master = {"firstName":"John","lastName":"Doe"};
        $scope.reset = function () {
            $scope.user = angular.copy($scope.master);
        }
        $scope.reset();
    })
</script>
</body>
</html>